<p *ngIf="!loading && posts.length <= 0">
  Aucun post !
</p>
<ul class="list-group">
  <ng-container *ngFor="let post of posts">
    <li class="list-group-item">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg> <p class="user-info">  {{ post?.User?.firstName }} {{ post?.User?.lastName }}</p>
      </span>
      <p class="post-date">{{ post?.createdAt | date: 'medium' }}</p>
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <img [src]="post.imageUrl" (click)="onClickPost(post?.id)">
      <button class="btn btn-sm btn-outline-primary" (click)="onClickComment(post?.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg>  commenter
      </button>
      <button class="btn btn-sm btn-outline-secondary" (click)="onCommentsView(post?.id)" *ngIf="post.Comments.length !== 0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg>  Voir les commentaires
      </button>
      <ul class="list-group" *ngIf="commentsView === post?.id">
        <ng-container *ngFor="let comment of post.Comments">
          <li class="list-group-item list-group-item-comment">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> <p class="user-info">  {{ comment?.User?.firstName }} {{ comment?.User?.lastName }}</p>
            </span>
            <p class="post-date">{{ comment.createdAt | date: 'medium' }}</p>
            <p>{{ comment.text }}</p>
            <button class="btn btn-sm btn-danger" (click)="onDelete(comment?.id)" *ngIf="userId === comment?.UserId || userId === post?.UserId || isAdmin">Supprimer</button>
          </li>
        </ng-container>
      </ul>
      <form [formGroup]="commentForm"  *ngIf="isComment === post?.id">
        <div class="form-group">
          <label for="text">Commentaire</label>
          <input type="text" class="form-control" id="text" formControlName="text">
        </div>
        <button class="btn btn-primary" (click)="onSubmit(post?.id)" [disabled]="commentForm.invalid">Publier</button>
      </form>
    </li>
  </ng-container>
</ul>