<form [formGroup]="profilForm">
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName" autofocus>
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="fonction">Fonction</label>
      <textarea class="form-control" id="fonction" formControlName="fonction"></textarea>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="profilForm.invalid">SUBMIT</button>
  </form>